<!-- Header -->
	<%= render 'layouts/header' %>

<!-- One -->
	<section id="one" class="wrapper">
		<div class="inner">
			<p>Welcome! You have administrative privilege. Your pricing differs from regular users. U been hooked up fam! - D</p>
			<div class="flex flex-3">
				<article>
					<header>
						<h3>To View Your Orders<br /> <%= link_to 'Click Here', orders_path %></h3>
					</header>
				</article>
				<article>
					<header>
						<h3>To Place An Order<br /> <%= link_to 'Click Here', new_order_path %></h3>
					</header>
				</article>
				<article>
					<header>
						<h3>To Request Something<br /> Send Email Below</h3>
					</header>
				</article>
			</div>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper style1 special">
		<div class="inner">
			<header>
				<h2>Send Us A Message</h2>
				<p>we'd love to know how we're doing!</p>
			</header>

			<form class="contact-form" action="/contact" method="post">
				<label for="name">Name</label>
				<input type="text" name="name" value="<%= current_user.name %>">
				<label for="email">Email</label>
				<input type="text" name="email" value="<%= current_user.email %>">
				<label for="Body">Body</label>

				<textarea name="body" rows="8" cols="80"></textarea>

				<input type="submit" value="Submit!" class='contact-click'>
			</form>
			<div class="flex flex-4">
			</div>
		</div>
	</section>

<!-- Footer -->
	<%= render 'layouts/footer' %>

<script type="text/javascript">
	$( 'form input.contact-click' ).on( 'click', function( e ) {
		e.preventDefault();

		var target = e.target
		var url = target.parentElement.action
		var type = target.parentElement.method
		var data = 'name=' + target.parentElement[ 0 ].value +
							 '&email=' + target.parentElement[ 1 ].value +
							 '&body=' + target.parentElement[ 2 ].value

		$.ajax({
			type: type,
			url: url,
			data: data
		}).done( function( response ) {
			$( 'form' ).hide();
			$( '#two div.inner' ).append( response );
		});
	});
</script>
