<%= render 'layouts/header' %>

<div class="new-item-form-area">
  <%= form_for @item do |f| %>
  <label for="store">Pick A Store</label>
  <%= f.select :store, [ [ 'TopShop' ], [ 'Lululemon' ], [ 'PacSun' ], [ 'Zara' ], [ 'Century 21' ], [ 'Sea Dreamer The Label' ], [ 'Swimwearworld.com' ], [ 'Crate & Barrel' ], [ 'H&M' ], [ 'Sunglass Hut' ], [ 'Bed Bath & Beyond' ], [ 'Victoria's Secret ] ], { selected: 'TopShop' } %>
  <label for="name">Name - Place Color Into Name of Item As Well!</label>
  <%= f.text_field :name %>
  <%= f.label :model_number %>
  <%= f.text_field :model_number %>

  <% if params[ 'order_id' ] %>
    <%= f.hidden_field :order_id, value: params[ 'order_id' ] %>
  <% else %>
    <%= f.hidden_field :order_id, value: Order.last.id %>
  <% end %>

  <%= f.submit 'Add Item To Order!', class: "submit-new-item" %>
  <% end %>
</div>

<div class="link-holder">
  <% if Order.last.items.empty? == false %>
  <% if params[ 'order_id' ] %>
  <%= link_to 'View Your Order', order_path( Order.find_by( id: params[ 'order_id' ] ) ), class: :view_making_order %>
  <% else %>
  <%= link_to 'View Your Order', order_path( Order.last ), class: :view_making_order %>
  <% end %>
  <% end %>
</div>
