<!DOCTYPE html>
<html>
  <head>
    <title>Dx871scsd9</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'style', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'main.js' %>
    <%= javascript_include_tag 'skel.min.js' %>
    <%= javascript_include_tag 'util.js' %>
    <%= javascript_include_tag 'mailers.js' %>
  </head>

  <body>
    <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
